* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transform-style: preserve-3d;
}

.player {
  position: absolute;
  top: 5%;
  left: 35%;
  /* transform: scaleX(-1); */
  transform: scaleX(-1);

  width: 400px;
  height: 500px;
  background: url("player.png");
  background-size: cover;
}

.circle {
  transform-style: preserve-3d;
  animation: animateText 10s linear infinite;
}

.circle > span {
  position: absolute;
  top: 0;
  left: 0;
  color: #d2d2d2;
  font-size: 4.5em;
  font-weight: bold;
  transform-origin: center;
  transform-style: preserve-3d;
  padding: 5px 11px;
  transform: rotateY(calc(var(--i) * calc(360deg / 30))) translateZ(175px);
}

.circle span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #b7b7b7;
  transform: translateZ(-5px);
}

@keyframes animateText {
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(-15deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(5deg) translateY(-30px);
  }
}
